@{
    Layout = null;
}

<!-- /*
* Template Name: Blogy
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_BlogListHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_BlogListNavigationBarComponentPartial")
    @await Component.InvokeAsync("_BlogDetailByCoverInfoComponentPartial")
    <section class="section">
        <div class="container">
            <div class="row blog-entries element-animate">
                <div class="col-md-12 col-lg-8 main-content">
                    @await Component.InvokeAsync("_BlogDetailByBlogContentComponentPartial")
                    <div class="pt-5">
                        <p>Categories:  <a href="#">Food</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
                    </div>
                    <div class="pt-5 comment-wrap">
                        @await Component.InvokeAsync("_BlogDetailByBlogCommentComponentPartial")
                        <!-- END comment-list -->
                        @await Component.InvokeAsync("_BlogDetailByLeaveACommentComponentPartial")
                    </div>
                </div>
                <!-- END main-content -->
                <div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap">
                        <form action="#" class="sidebar-search-form">
                            <span class="bi-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </form>
                    </div>
                    <!-- END sidebar-box -->
                    @await Component.InvokeAsync("_BlogDetailByWriterInformationComponentPartial")
                    <!-- END sidebar-box -->
                    @await Component.InvokeAsync("_BlogDetailByWriterPopularPostsComponentPartial")

                    <!-- END sidebar-box -->
                    @await Component.InvokeAsync("_BlogDetailByCategoriesComponentPartial")
                    <!-- END sidebar-box -->
                    @await Component.InvokeAsync("_BlogDetailByTagsCommentComponentPartial")
                </div>
                <!-- END sidebar -->
            </div>
        </div>
    </section>

    <!-- Start posts-entry -->
    @await Component.InvokeAsync("_BlogDetailByOtherCommentComponentPartial")
    <!-- End posts-entry -->
    @await Component.InvokeAsync("_BlogListFooterBarComponentPartial")
    <!-- Preloader -->
    @await Component.InvokeAsync("_BlogListLoaderBarComponentPartial")
    @await Component.InvokeAsync("_BlogListScriptComponentPartial")
</body>
</html>