@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await  Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>
    <div class="container-scroller">
        @await Component.InvokeAsync("_LayoutSideBarComponentPartial")
        <div class="container-fluid page-body-wrapper">
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles light"></div>
                    <div class="tiles dark"></div>
                </div>
            </div>
            @await Component.InvokeAsync("_LayoutNavBarComponentPartial")
            <div class="main-panel">
                @RenderBody()
                @await Component.InvokeAsync("_LayoutFooterComponentPartial")
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @await Component.InvokeAsync("_LayoutScriptComponentPartial")
</body>
</html>