@model UserSignInViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Log In</b>
        </h3>
    </div>
    <div class="card-body">
        <form role="form" method="post" action="/LogInAdmin/Index/">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="fw-bold">First Name</label>
                        <input type="text" class="form-control" placeholder="first name" asp-for="UserName">
                    </div>
                </div>
               
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="fw-bold">Password</label>
                        <input type="text" class="form-control" placeholder="password" name="Password">
                    </div>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </div>
            <button style="margin-top:1rem" type="submit" class="btn btn-outline-success col-md-12">Create New User</button>
        </form>
    </div>
</div>